# Git
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Прочее
*.log
.env
config.yaml
Makefile
tests/